<div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        value="{{this.name}}"
        placeholder="Full Name"
        name="name"
      />
      <label for="floatingInput">Name</label>
    </div>
  </div>

 <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        id="floatingInput"
        value="{{this.createdDate}}"
        placeholder="select date"
        name="createdDate"
      />
      <label for="createdDate">Date</label>
    </div>
  </div>

  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">
      Submit
    </button>

  </div>